
<!-- Begin one column box -->
<div class="onecolumn">
	
	<div class="header">
		<div class="description">
			This is all stories Alleycat knows about at the moment.
		</div>				
	</div>
	
	<div class="content nomargin">
		
		<!-- Begin example table data -->
		<table class="global" width="100%" cellpadding="0" cellspacing="0">
			<thead>
			    <tr>
			    	<th style="width:10px">
			    		<input type="checkbox" id="check_all" name="check_all"/>
			    	</th>
			    	<th style="width:30%">Name</th>
			    	<th style="width:20%">Author</th>
			    	<th style="width:30%">Description</th>
			    	<th style="width:15%">Column 4</th>
			    </tr>
			</thead>
			<tbody>
				<% @stories.each do |story| %>
			    <tr>
			    	<td>
			    		<input type="checkbox"/>
			    	</td>
			    	<td><%= story.name %></td>
			    	<td><%= story.user.name %></td>
			    	<td><%= story.description %></td>
			    	<td>
							<% if story.authored_by?(@current_user) %>
			    			<a href="<%= admin_story_acts_path(story)%>"><img src="/images/icon_edit.png" alt="edit" class="help" title="Edit"/></a>
			    			<a href=""><img src="/images/icon_delete.png" alt="delete" class="help" title="Delete"/></a>
							<% end %>
			    	</td>
			    </tr>
				<% end %>
			</tbody>
		</table>
		<!-- End example table data -->
		
		
		<!-- Begin pagination -->
		<div class="pagination">
			<a href="#">«</a>
			<a href="#" class="active">1</a>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<a href="#">5</a>
			<a href="#">6</a>
			<a href="#">»</a>
		</div>
		<!-- End pagination -->
		
		<br class="clear"/>
	
	</div>
	
</div>