.popin-form{width:600px; background-color:white;padding:15px;}
.act{border-bottom:1px solid #ccc;padding:0px 0px 20px 0px;}
.text-content{float:left; width:600px;margin-top:7px;padding:0px 10px 10px 0px;cursor:pointer;}