<div data-role="page" data-theme="a" id="locate">
	<div data-role="content">
		Fetching your location
	</div>	
	<fieldset class="ui-grid-a">
		<div class="ui-block-a"><a href="<%= start_play_story_path(@story)%>" data-role="button" data-theme="a">Play</a></div>
		<div class="ui-block-b"><a href="/stories/list" data-role="button" data-rel="back" data-theme="b">back</a></div>	   
	</fieldset>	
</div>


