<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
 
<!-- Website Title --> 
<title>AlleyCat</title>

<!-- Meta data for SEO -->
<meta name="description" content=""/>
<meta name="keywords" content=""/>

<!-- Template stylesheet -->
<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="all"/>
<link href="/stylesheets/datepicker.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" href="/stylesheets/tipsy.css" type="text/css" media="all"/>
<link rel="stylesheet" href="/javascripts/jwysiwyg/jquery.wysiwyg.css" type="text/css" media="all"/>
<link href="/javascripts/visualize/visualize.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" type="text/css" href="/javascripts/fancybox/jquery.fancybox-1.3.0.css" media="screen"/>

<!--[if IE 7]>
	<link href="/stylesheets/ie7.css" rel="stylesheet" type="text/css" media="all">
<![endif]-->

<!--[if IE]>
	<script type="text/javascript" src="/javascripts/excanvas.js"></script>
<![endif]-->

<!-- Jquery and plugins -->
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
<script type="text/javascript" src="/javascripts/jquery.img.preload.js"></script>
<script type="text/javascript" src="/javascripts/fancybox/jquery.fancybox-1.3.0.js"></script>
<script type="text/javascript" src="/javascripts/jwysiwyg/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="/javascripts/hint.js"></script>
<script type="text/javascript" src="/javascripts/visualize/jquery.visualize.js"></script>
<script type="text/javascript" src="/javascripts/jquery.tipsy.js"></script>
<script type="text/javascript" src="/javascripts/browser.js"></script>
<script type="text/javascript" src="/javascripts/custom.js"></script>

</head>
<body class="login">
	
	<!-- Begin control panel wrapper -->
	<div id="wrapper">
	
		<div id="login_top">
			<img src="/images/logos/128x128.png" alt=""/>
		</div>
		
		<br class="clear"/><br/>
	
		<!-- Begin one column box -->
		<%= yield %>
	
	</div>
	<!-- End control panel wrapper -->
	<div id="fb-root"></div>
	
	<script type="text/javascript">
		<%= render :partial => 'layouts/shared/bootstrap_facebook' %>
	</script>
	
	<script type="text/javascript">	
		<%= yield :page_script %>
	</script>
	
</body>
</html>